/* Main CSS file */

@font-face {
  font-family: "Lora Bold";
  src: url("./fonts/style0/Lora-Bold.ttf");
}

@font-face {
  font-family: "Lora SBI";
  src: url("./fonts/style0/Lora-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "Lora Reg";
  src: url("./fonts/style0/Lora-Regular.ttf");
}

@font-face {
  font-family: "Lora L";
  src: url("./fonts/style0/Lora-VariableFont_wght.ttf");
}

h1 {
  font-family: Lora Bold;
}

h2, #kW {
  font-family: Lora SBI;
}

h3 {
  font-family: Lora SBI;
  text-transform: uppercase;
}

#currentDateTime {
  border:none;
  font-family: Lora SBI;
}

.step {
  font-weight: bold;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Lora L;
}

#mainMenu li {
  font-family: Lora L;
}

body::-webkit-scrollbar {
  display: none;
}

p {
  text-align: justify;
}

#btnIssue, #footer button, .customCol button, #centralMain button, #openIssue button {
  border: 0.5px solid  rgb(33,37,41) !important;
  border-radius: 20px;
  color: rgb(33,37,41) !important;
  padding: 2vh 2vw;
}

#btnIssue a, .customCol a, #centralMain a, #coverstyle1 a {
  text-decoration: none !important;
  color: rgb(33,37,41)!important;
}

#btnIssue:hover, #btnIssue a:hover, .customCol a:hover, #centralMain a:hover, #btnIssue a.active, .customCol a.active, #centralMain a.active, #openIssue a.active  {
  color:  white !important;
}

#btnIssue:hover, #footer button:hover, .customCol button:hover, #centralMain button:hover {
  color: white !important;
  border: 0.5px solid  rgb(33,37,41)!important;
  border-radius: 20px;
  background-color: rgb(33,37,41)!important;
}

hr {
  background-color: darkgray;
}

/* homepage */

#centralMain {
  text-align: center;
}

#centralMain a {
  text-align: center;
}

#centralMain .itemIcon {
 margin-left: auto;
 margin-right: auto;
}

.arrow {
  content: url(arr0w.png);
  width: auto;
  height: 8vh;
  margin-left: auto;
  margin-right: auto;
}

.date {
  text-align: center;
}

.lastBox {
  border-bottom: none!important;
}

.leftCol {
  border-right: 1px solid darkgray;
}

.rightCol {
  border-left: 1px solid darkgray;
}

h6, h6:hover, h6 a {
  font-weight:700;
  color: black!important;
  text-decoration:none;
}

/* documentation */

#docCenter{
  height: 72vh;
  overflow-y: scroll;
 }
 #docCenter::-webkit-scrollbar {
   display: none;
}

/* Issue Cover */

#coverstyle1 {
  text-align: center;
}

#issueArticles {
  border-top: 1px solid darkgrey;
  padding-top: 5vh;
}

#issueMeta p{
  text-align: center;
}

#btnIssue {
  text-decoration-line: none !important;
}

/* Article columns */
.artiCol {
    height: 66vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mention {
  color: #007bff;
}


/* Metadata columns */

.metaCol {
    height: 28vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.metaTitle {
  font-weight: 700;
}

.nav-tabs {
  border-bottom: 1px solid darkgrey;
}

.nav-tabs .nav-link {
  border: 1px solid darkgrey;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.nav-tabs .nav-link.active {
  background-color: #212529;
  color: white;
}

.nav-tabs .nav-link:hover {
  background-color: #212529;
  color: white;
}

.sepLine {
  border-bottom: 1px solid darkgray;
  margin-right:20px;
  margin-left:10px;
}

.navbar {
  height: 80pt;
  transition: .3s; /* When it shrinks on scroll*/
}

#mainMenu {
  transition: .3s;  /* When it shrinks on scroll*/
  font-family: "";
}

#reviewName {
  position:relative; /* NEEDED FOR Z-INDEX TO WORK! */
  transition: .3s;  /* When it shrinks on scroll*/
}

.issueCoverContainer {
  width: 35%;
}

#styleSelector a {
  padding-left: 10px;
  padding-right: 10px;
}

header div.d-flex { /* Because on issue.html Bootstrap 4 adds this padding */
  padding-left:0px;
}

.tab-pane label {
  padding-right:4px;
}

/* Slim scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/* END of slim scrollbar */

.subtitle {
  font-family: Lora SBI;
}

.artiCol {
  word-wrap: break-word;
  }

/* Representative image of the articles */
.articleImg {
  width: 100%;
}

.imgSource {
  font-size: x-small;
}

.imgCaption {
  font-size: smaller;
}

/* Some article elements:
Bigger first letter; ASIDE text */

.big-first-letter::first-letter {
  font-size: 200%;
}

aside { /* Side notes in the text of the articles */
  width: 50%;
  text-align: center;
  float: left;
  font-style: italic;
  font-size: larger;
  padding: 1vh 2vw 1vh 1vh;
  border-right: 1px solid darkgray;
  word-wrap: break-word;
  margin: 2vh 2vw 2vh 0;
}

.imgCaption {
  padding: 1vw;
  font-family: Lora Reg;
 }

 .imgSource {
   margin-bottom: 2vh;
   text-align: center;
   font-family: Lora Reg;
 }

 .articleImg {
   margin-bottom: 1vh;
 }

 aside .imgCaption {
   border: none;
   margin: 0;
   font-family: Lora Reg;
 }

.byline, .publicationDate {
  font-family: Lora Reg;
}

iframe {
  width: 100%;
}

/* Custom containers, mainly used for issue cover pages */
@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    }
}

/*
.container-small, .container-large {
    max-width: 100%;
}
/*

/* Format of labels into analysis tabs into metadata selectors */
.analisysLabel {
    font-weight: 600;
}

blockquote {
  /* background-color: lightgray; */
  /* padding: 4% ; */
  font-style: italic;
}

.tableCaption {
  margin-top: 50px;
}


/* These classes to avoid NAVBARS to wrap elements on multiple lines */
.navbar-header {
    float:left;
}
.navbar-nav {
    float:right;
}

/* This is a Bootstrap 5 class, but we need to make it important in issue.html page, where we use Bootrstrap 4 */
a.link-dark {
  color:#212529!important;
}

.searchResult {
  margin-bottom: 20px;
}


/* Basic Style */

#centralMain {
  /*border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;*/
}


.headerCustom {
  border-bottom: 1px solid darkgray;
  margin-bottom:20px!important;
}

.customCol {
  border-bottom: 1px solid darkgray;
  border-radius:0!important;
  background-color:transparent!important;
}

.customPreview {
  border-bottom: 1px solid darkgray;
  border-radius: 0!important;
  background-color: transparent!important;
}

.customPreview a {
  text-decoration: none;
  color: darkgray;
}


#keywordsList {
  border-bottom: 1px solid darkgray;
}


/* Ghost years behind style selector */
a[year]:hover:after {
  content: attr(year);
  font-size:120px;
  /* letter-spacing:40px; */
  color: rgba(0,0,0,0.07);
  position: absolute;
  left: 6%;
  top: -45px;
  z-index: 0;
  width:50px;
  background: transparent;
  pointer-events: none;
}



/*-----------------------------------------------------------------------------
	Clearfix
-----------------------------------------------------------------------------*/

.clear {
  clear: both;
}

.clearfix:after {
  content: ".";
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  display: block;
}


/*-----------------------------------------------------------------------------
	Widget Css
-----------------------------------------------------------------------------*/

.apsp-caption-disabled .apsp-pinterest-latest-pin {
  float: left;
  width: 30.33%;
  margin: 0 0 3% 3%;
  list-style: none;
  background: none repeat scroll 0 0 #eeeeee;
  border-radius: 5px;
  -webkit-box-shadow: 1px 3px 4px #cccccc;
  box-shadow: 1px 3px 4px #cccccc;
  padding: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.apsp-caption-enabled .apsp-pinterest-latest-pin {
  background: none repeat scroll 0 0 #eeeeee;
  border-radius: 5px;
  -webkit-box-shadow: 1px 3px 4px #cccccc;
  box-shadow: 1px 3px 4px #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  list-style: outside none none;
  margin: 3% 0 0 3%;
  padding: 4px;
  width: 47%;
}

#apsp-pinterest-latest-pins.apsp-caption-enabled {
  margin: 3% 0 0 -3%;
  padding: 0;
  width: 100%;
}

#apsp-pinterest-latest-pins.apsp-caption-disabled {
  margin: 3% 0 0 -3%;
  padding: 0;
  width: 100%;
}

.apsp-pinterest-image a {
  border: medium none !important;
  display: block;
  text-align: center;
}

.apsp-pinterest-image img {
  border: medium none;
  display: inline-block !important;
}

.apsp-pinterest-text {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.apsp-pinterest-link {
  background: #f4f4f4 url("https://s-passets.pinimg.com/images/pidgets/board_button_link.png") repeat-x scroll 0 0;
  border: 1px solid #cccccc !important;
  border-radius: 2px !important;
  color: #746d6a !important;
  cursor: pointer !important;
  display: block !important;
  font-family: Helvetica !important;
  font-size: 13px !important;
  font-weight: bold !important;
  height: 31px !important;
  line-height: 30px !important;
  margin: 10px 10px 0 !important;
  text-align: center !important;
  text-decoration: none !important;
  text-shadow: 0 1px #ffffff !important;
}

.apsp-share a {
  background: #BD081C;
  padding: 0 10px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  color: #fff;
  margin-bottom: 10px;
  border-bottom: none !important;
}

.apsp-share a:hover {
  background: #d4071e;
  color: #fff;
}

.apsp-pinterest-link > a {
  color: #cb2f38 !important;
  text-decoration: none !important;
  border-bottom: none !important;
}

/* footer */

#teamMate1, #teamMate2 {
  font-weight: bold !important;
}
