/* Style 4 */

@font-face{
  font-family: "Antikor Reg";
  src: url("./fonts/style4/Taner\ Ardali\ \ Antikor\ Mono\ Regular.ttf");
 }

@font-face{
  font-family: "Antikor BI";
  src: url("./fonts/style4/Taner\ Ardali\ \ Antikor\ Mono\ Bold\ Italic.ttf");
 }

 @font-face{
  font-family: "Britanica";
  src: url("./fonts/style4/britanica-heavy-expanded.ttf");
 }

 /* topbar (background and glass effect specified with the articles and the footer) */
#mainMenu li {
  font-family: Britanica;
  text-transform: uppercase;
  font-style: italic;
}

#issuesList li {
  font-family: Antikor Reg;
  text-transform: lowercase;
}

a[year]:hover:after {
  top: -30px;
}

/* text */

body {
 background-image: url("sfondo4_6.jpg");
 font-family: Antikor Reg;
 background-size: cover;
 background-repeat: no-repeat;
}

h2, h3, .subtitle, #kW {
  font-family: Britanica;
  font-style: italic;
  font-weight: 100;
}

h1 {
  font-family: Britanica;
   text-transform: uppercase;
   font-style: italic;
   text-align: center;
  font-weight: 100;
}

a {
 color: #d235ff !important;
}

#mainMenu a, #metaRow a {
  color: black !important;
}

a:hover {
  color: #9122af!important;
}

/* homepage */

.kwCustom {
  color: #d235ff;
  border-style: none;
  margin-right: 1vw;
  background: #f8eadf8e!important;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
  backdrop-filter: blur( 13px ) !important;
  -webkit-backdrop-filter: blur( 13px ) !important;
  border-radius: 20px !important;
  border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
  height: fit-content;
}

.kwCustom:hover {
  color: #d235ff;
}

#currentDateTime {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  font-family: Britanica;
  font-style: italic;
  text-shadow: none;
}

#centralMain {
  border-left: none;
  border-right: none;
}

#keywordsList {
  border-bottom: none;
}

.arrow {
  content: url(futarrow.png);
  width: auto;
  height: 8vh;
  overflow: hidden;
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

button, .kwCustom, #art1, #art2, #art3, 
.customPreview img {
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

header button {
  animation: none;
}

/* cover issue */

#issueMeta p{
  text-align: center;
}

#issueArticles {
  text-align: center;
  height: auto;
  border-top: none;
  padding-top: none;
}

.coverCustom {
  margin-bottom: 3vh;
  text-align: justify;
}

.leftCol {
  border-right: none;
}

.rightCol {
  border-left: none;
}

.customPreview {
  background: #f8eadf8e !important;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
  backdrop-filter: blur( 13px ) !important;
  -webkit-backdrop-filter: blur( 13px ) !important;
  border-radius: 10px !important;
  border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
  transition-duration: 0.3s;
  margin-bottom: 2vh;
}

/* articles */

.artiCol, .metaCol, #footerBar, .headerCustom, .dropdown-menu, .dropdown-item:hover, .customCol, .coverCustom {
  background: #f8eadf8e !important;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
  backdrop-filter: blur( 13px ) !important;
  -webkit-backdrop-filter: blur( 13px ) !important;
  border-radius: 10px !important;
  border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
  transition-duration: 0.3s;
}

#issuesList{
  background: #f8eadfe5!important;
}

.sepLine {
  display: none;
}

.wmf-wp-with-preview {
  color: #d235ff !important;
  font-family: Antikor Reg !important;
  border-bottom: 1px dashed #d235ff !important;
}

.mention {
  color: #d235ff !important;
}

.articleImg, #docCenter img {
  border-radius: 20px;
  margin: 1vh;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}


/* metadata nav tablist style */

.nav-tabs .nav-link, .dropdown-item:hover {
  border: 0;
  border-radius: 20px;
  border-style: none;
  background: rgba(31, 38, 135, 0.199);
  box-shadow:  26px 26px 55px rgba(31, 38, 135, 0.199),
             -26px -26px 55px rgba(113, 115, 139, 0.199);
  margin-right: 1vw;
  margin-bottom: 1vw;
  height: fit-content;
}

#tabs1 .nav-link, #tabs2 .nav-link, #tabs3 .nav-link{
  color: #d235ff !important;
}

#tabs1 .nav-link:hover, #tabs2 .nav-link:hover, #tabs3 .nav-link:hover {
  color: black !important;
  border-bottom: 2px solid #d235ff;
  background-color: #d235ff;
}

#tabs1 .nav-link.active, #tabs2 .nav-link.active, #tabs3 .nav-link.active{
  color: black !important;
  border-bottom: 2px solid #d235ff;
  background-color: #d235ff;
}

#tabs1, #tabs2, #tabs3 {
  justify-content: start !important;
  border-bottom: transparent;
}

.tab-pane, .tab-pane label {
  line-height: 0.8;
  margin-bottom: 0rem;
}

#analysis1, #analysis2, #analysis3 {
  line-height: 1.5;
}

/* scrollbar */

#article1::-webkit-scrollbar-track,#article2::-webkit-scrollbar-track, #article3::-webkit-scrollbar-track, #metaData1::-webkit-scrollbar-track, #metaData2::-webkit-scrollbar-track, #metaData3::-webkit-scrollbar-track {
 background: linear-gradient( 90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 45%, #d235ff 45%, #d235ff 55%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 100%);
}

#article1::-webkit-scrollbar, #article2::-webkit-scrollbar, #article3::-webkit-scrollbar, #metaData1::-webkit-scrollbar, #metaData2::-webkit-scrollbar,
#metaData3::-webkit-scrollbar {
  width: 1vw;
}

#article1::-webkit-scrollbar-thumb, #article2::-webkit-scrollbar-thumb, #article3::-webkit-scrollbar-thumb, #metaData1::-webkit-scrollbar-thumb, #metaData2::-webkit-scrollbar-thumb, #metaData3::-webkit-scrollbar-thumb {
  background-color: #d235ff;
  border-radius: 20px;
  height: 1vh !important;
  -webkit-box-shadow: 0px 0px 10px #d235ff;
  -moz-box-shadow: 0px 0px 10px #d235ff;
  box-shadow: 0px 0px 10px #d235ff;
}

/* footer */

.footerCustom {
  background-color: transparent!important;
}

footer p, footer .nav-link {
  color: black !important;
}

footer h3 {
  text-transform: uppercase;
}

#teamMate1, #teamMate2 {
  font-family: Britanica !important;
}

#copy {
  border-top: 1px solid rgba( 31, 38, 135, 0.37) !important;
}

textarea::-webkit-scrollbar {
 display: none;
}

#submit {
  display: block;
  color: #d235ff !important;
}

label {
  display: block;
  width: 100%;
}

button, #btnIssue, #footer button, .customCol button, #centralMain button, #openIssue button, #mainMenu li:hover, .dropdown-item:hover {
  border-radius: 20px;
  color: #d235ff !important;
  border: none !important;
  border-color: transparent !important;
  background-color: #f8eadfc4 !important;
  box-shadow:  10px 10px 30px #dad9d986,
               -10px -10px 30px #ffffff71;
}

hr {
  background-color: #d235ff !important;
  border-radius: 20px !important;
  -webkit-box-shadow: 0px 0px 10px #d235ff !important;
  -moz-box-shadow: 0px 0px 10px #d235ff !important;
  box-shadow: 0px 0px 10px #d235ff !important;
}

aside {
  border-radius: 20px;
  border: none !important;
  border-color: transparent !important;
  background-color: #f8eadf8e !important;
  box-shadow:  20px 20px 30px #dad9d986,
               -10px -10px 30px #ffffff71;
}

.imgCaption, figcaption {
  border-radius: 20px;
  border: none !important;
  border-color: transparent !important;
  background-color: #f8eadf8e !important;
  box-shadow:  20px 20px 30px #dad9d986,
               -10px -10px 30px #ffffff71;
  margin-top: 1vh;
  font-family: Antikor Reg;
}


figcaption {
  padding: 2vh;
}

aside .imgCaption {
  background-color: transparent !important;
  box-shadow: none !important;
  font-family: Antikor Reg;
}

 .imgSource {
   font-family: Antikor Reg;
 }

 .articleImg {
   margin-bottom: 2vh;
 }

.byline, .publicationDate {
  font-family: Antikor Reg;
}

#mainBody a, #btnIssue a {
  color: #d235ff !important;
  text-decoration: none !important;
}

#mainBody a:hover, #mainBody a.active, #btnIssue a:hover, #btnIssue a.active {
  color: #9122af  !important;
}

button:hover, #btnIssue:hover, #footer button:hover, .customCol button:hover, #centralMain button:hover, #openIssue button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #333747;
  background-color: #f8eadf8e !important;
  color: #9122af !important;
  border: none !important;
}

button.active, #btnIssue.active, #footer button.active, .customCol button.active, #centralMain button.active, #openIssue button.active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  border: none !important;
  border-color: transparent !important;
}

input, textarea {
  box-shadow:
    12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 100px;
    padding: 16px;
}

input:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input-group label {
  margin: 0;
  flex: 1;
}

#footer img {
  border-radius: 20px;
  margin: 1vh;
  padding-right: none !important;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}