/* Style 3 */

@font-face {
  font-family: "ZineTime";
  src: url("./fonts/style3/ZineTime.otf");
}

@font-face {
  font-family: "Black Casper";
  src: url("./fonts/style3/BlackCasper.ttf");
}

@font-face {
  font-family: "Doctor Punk";
  src: url("./fonts/style3/doctor\ punk.otf");
}
@font-face {
  font-family: "Simple Things";
  src: url("./fonts/style3/SimpleThings-Regular.woff");
}

/* topbar */

.headerCustom {
  background-color: transparent !important;
  background-image: url(topb3r.png);
  background-size: contain;
  border-bottom: none;
}
.headerCustom h1 {
  color: #fb42cc;
}

#mainMenu li {
  font-family: ZineTime !important;
}

a[year]:hover:after {
  left: 5%;
}

/* footer */

.footerCustom {
  background-color: transparent !important;
  background-image: url(footer.png);
  background-size: cover;
}

textarea::-webkit-scrollbar {
  display: none;
 }

h1, h3 {
  font-family: Doctor Punk;
  color: black;
  text-align: center;
}

h2, #kW, .subtitle, #currentDateTime {
  font-family: ZineTime;
}

#docCenter h3 {
  font-family: ZineTime;
}

body {
  background-color: white;
  background-image: url(zine.png);
  background-size: contain;
  color: black;
  font-family: Simple Things;
  text-align: left !important;
}

a {
  color: #fb42cc;
}

a:hover {
  color: black;
}

.wmf-wp-with-preview {
  color: #fb42cc !important;
  font-family: Zine Time !important;
  border-bottom: 1px dashed #fb42cc !important;
}

/* homepage */

.kwCustom {
  border-color: #FAF8F9 !important;
  color: #FAF8F9 !important;
  border-radius: 10px 10px 10px 10px !important;
  background-image: url(tape2.png) !important;
  height: fit-content;
  margin-right: 1vw;
  margin-bottom: 1vh;
}

#keywordsList {
  border-bottom: none;
}

#currentDateTime {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  text-shadow: none;
}

.customCol{
  background-color: transparent !important;
  border-bottom: none !important;
  text-align: left !important;
}

#centralMain {
  border: none !important;
}

#artPre1_1,#artPre1_2, #artPre1_3, #artPre2_1, #artPre2_2,#artPre2_3 {
  border-bottom: none !important;
}

#mainBody button, #mainBody button:hover, #mainBody button.active, #footer button, #footer button.active, #footer button:hover, #openIssue button, #openIssue button:hover, #openIssue button.active  {
  background-image: url(btn3.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: black !important;
  border: none !important;
  background-color: transparent !important;
  height: fit-content;
}

#footer button.active, #footer button:hover, #mainBody button:hover, #mainBody button.active, #openIssue button:hover, #openIssue button.active {
  color: #fb42cc !important;
  text-decoration: none !important;
}

#mainBody a:hover, #mainBody a.active, #openIssue a:hover, #openIssue a.active {
  color: #fb42cc !important;
  text-decoration: none !important;
}

#openIssue a {
 text-decoration: none !important; /* nonfunziona */
}

.arrow {
  width: auto;
  height: 8vh;
}

#a1 {
  content: url(arrow34.png);
}
#a2 {
  content: url(arrow31.png);
}
#a3 {
  content: url(arrow33.png);
}
#a4 {
  content: url(arrow32.png);
  transform: scaleX(-1);
}
#a5 {
  content: url(arrow35.png);
}

.leftCol {
  border-right: none;
}

.rightCol {
  border-left: none;
}

/* coverissue */

.coverCustom {
  background-color: transparent !important;
}

#cover1 {
  background-image: url(tornpaper.png);
  background-position: center;
  background-size: 50vh;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

#issueArticles {
  border-top: none;
  padding-top: none;
}

#issueMeta {
 padding: 4vh 1vw 0 1vw;
}

#art1 {
  background-image: url(bgpaper.png);
  background-position: center;
  background-size: 70vh;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 50vh;
  transform: rotate(-4deg);
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

#art2 {
  background-image: url(bgpaper.png);
  background-position: center;
  background-size: 70vh;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 50vh;
  transform: rotate(4deg);
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

#art3 {
  background-image: url(bgpaper.png);
  background-position: center;
  background-size: 70vh;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 50vh;
  transform: rotate(-4deg);
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

#coverstyle1 {
  background-image: url(queenel.png), url(grrrlpower.png), url(bikikill.png), url(warning.png), url(dtfyw.png), url(satan.jpg);
  background-repeat: no-repeat;
  background-size: 80vh, 50vh, 55vh, 50vh, 40vh, 40vh;
  background-origin: content-box;
  background-position: bottom left, top right, top left, bottom right, center left, center right;
  text-align: none !important;
}

#issueArticles {
  text-align: center;
  height: auto;
}

.metaTitle {
  font-family: ZineTime;
}

#artN1, #artN2, #artN3 {
  font-family: ZineTime;
  color: black;
}

#openIssue {
  margin-top: 40px;
}

#btnIssue {
  padding: 20px;
  background-image: url(btn3.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: black;
}


/* articles */

.mention {
 background-image: url(btn3.png);
 background-size: contain;
 color: #fb42cc;
 font-family: ZineTime;
}

.sepLine {
  display:none;
}

aside .imgCaption, .byline, .publicationDate, .imgCaption, .imgSource {
  font-family: Simple Things !important;
}

/* nav-tabs */

.nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  justify-content: start !important;
  border-color: transparent !important;
  font-family: Doctor Punk;
  background-image: url(circle4.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: black;
  font-size: 18px;
}

.nav-tabs .nav-link.active {
  border-color: transparent !important;
  background-color: transparent !important;
  color: #fb42cc;
}

.nav-tabs .nav-link:hover {
  background-color: transparent !important;
  color: #fb42cc;
}

#tabs1, #tabs2, #tabs3 {
  justify-content: space-evenly !important;
  border-bottom: transparent;
}

#metaData1, #metaData2, #metaData3 {
  background-image: url(tornpaper.png);
  background-position: center;
  background-size: 60vh;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#frameData1, #frameData2, #frameData3 {
  height: 30vh;
  padding: 2vh 1vw 2vh 1vw;
  overflow-y: scroll;
}

hr, .mover, #hr {
  border:0 !important;
  margin: 0.5vh !important;
  height: 1vh !important;
  background-image: url(border3.png) !important;  
  background-size: contain !important;
  background-color: transparent !important;
}

#centralMain hr {
  display: none;
}

.articleImg {
  filter: brightness(80%) saturate(139%) contrast(198%);
  -webkit-filter: brightness(80%) saturate(139%) contrast(198%);
  -moz-filter: brightness(80%) saturate(139%) contrast(198%);
  -ms-filter: brightness(80%) saturate(139%) contrast(198%) ;
  -o-filter: brightness(80%) saturate(139%) contrast(198%);
}

/* Slim scrollbar */
::-webkit-scrollbar {
    display: none;
}

#metaRow label {
  font-family: Simple Things !important;
}

#metaData1 {
  transform: rotate(2deg);
  position: relative;
}
#metaData1:hover {
  transform: rotate(-2deg);
  top: -1.5em;
  position: relative;
}
#metaData2 {
  transform: rotate(-3deg);
  position: relative;
}
#metaData2:hover {
  transform: rotate(3deg);
  top: -1.5em;
  position: relative;
}

#metaData3 {
  transform: rotate(1deg);
  position: relative;
}

#metaData3:hover {
  transform: rotate(-1deg);
  top: -1.5em;
  position: relative;
}

/*

#article1 {
  transform: rotate(-2deg);
  position: relative;
}

#article1:hover {
  transform: rotate(4deg);
  top: -1.5em;
  position: relative;
}

#article2 {
  transform: rotate(3deg);
  position: relative;
}
#article2:hover {
  transform: rotate(-2deg);
  top: -1.5em;
  position: relative;
}

#article3 {
  transform: rotate(-3deg);
  position: relative;
}
#article3:hover {
  transform: rotate(3deg);
  top: -1.5em;
  position: relative;
}
*/
.wmf-wp-with-preview {
  color: #fb42cc!important;
  font-family: ZineTime !important;
  border-bottom: 1px solid #fb42cc !important;
  background-image: none !important;
}

.artiCol {
  padding-left: 2vw !important;
  padding-right: 2vw !important;
}

/* footer */

footer p, footer .nav-link {
  color: black !important;
}

#teamMate1, #teamMate2 {
  font-family: ZineTime;
  color: #fb42cc !important;
}

label, input {
  font-family: ZineTime;
}


