/* @import url('https://fonts.cdnfonts.com/css/belle-epoque');

*/


@font-face{
  font-family: "GoudyIni";
  src: url("./fonts/style1/GoudyIni.ttf");
 }

@font-face{
  font-family: "Flanker Reg";
  src: url("./fonts/style1/flanker-griffo.regular.otf");
 }

 @font-face{
  font-family: "Flanker Italic";
  src: url("./fonts/style1/flanker-griffo.italic.ttf");
 }

 @font-face{
  font-family: "Flanker Bold";
  src: url("./fonts/style1/flanker-griffo.bold.ttf");
 }

 @font-face{
  font-family: "Flanker BoldIt";
  src: url("./fonts/style1/flanker-griffo.bold-italic.ttf");
 }

 /* topbar */

.headerCustom {
  background-color: #f6f1e8 !important;
  border-bottom: 2px solid black;
  background-image: url(topbar1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

#styleSelector a {
  background-color: #f6f1e8 !important;
  border-radius: 50px !important;
  border: 1px solid black !important;
  margin-right: 1vw;
}

#logo {
  background-color: #f6f1e8 !important;
  border-radius: 50px !important;
  border: 1px solid black !important;
  padding: 12px;
}

#mainMenu li {
  margin-left: 1vw;
  font-family: Flanker Reg !important;
  text-transform: uppercase;
  background-color: #f6f1e8;
  border: 1px solid black !important;
  border-radius: 50px !important;
  padding: 5px;
}

#mainMenu .dropdown-menu {
  border: 1px solid black;
  border-radius: 20px !important;
  padding: 10px;
  color: #B63323;
  background-color: #f6f1e8;
}

#mainMenu .dropdown-menu li {
  font-family: Flanker Reg !important;
  text-transform:none;
}

#mainMenu .dropdown-item:hover {
  color: #B63323 !important;
  background-color: #f6f1e8 !important;
  border-radius: 20px !important;
  font-family: Flanker Bold !important;
}

#mainMenu .nav-link.active {
  color: #B63323 !important;
  background-color: #f6f1e8 !important;
  border-radius: 20px !important;
  font-family: Flanker Bold !important;
}

#reviewName {
  text-shadow: 1px 1px 2px white, 0 0 1em white
  , 0 0 0.5em #f6f1e8;
}

#searchBtn {
  border: 1px solid black;
  background-color: #f6f1e8;
}

input, textarea {
  border: 1px solid black !important;
}

a[year]:hover:after {
  color: rgba(0,0,0,0.1);
  letter-spacing:10px;
  font-family:"Century Schoolbook",Times,serif; /*"Century Schoolbook Monospace",*/
  left: 7%;
  top: 35px;
}

/* footer */

.footerCustom {
  background-color: #f6f1e8 !important;
  border-top: 2px solid black;
  background-image: url(topbar1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

footer h3 {
  text-shadow: 1px 1px 2px white, 0 0 1em white
  , 0 0 0.5em #f6f1e8;
  font-family: Flanker Bold;
  text-transform: uppercase;
}

footer form {
  border: 1px solid black;
  background-color: #f6f1e8;
  padding: 2vh !important;
  border-radius: 10px;
}

textarea::-webkit-scrollbar {
  display: none;
 }

footer p, footer li {
  background-color: #f6f1e8 !important;
  padding: 2vh 2vw;
  border-radius: 10px;
  border: 1px solid black;
}

footer .nav-link {
 color: black !important;
}

#teamMate1, #teamMate2 {
  font-family: Flanker Bold !important;
}

#copy {
  border-top: 1px solid black !important;
  padding: 10px;
  border-radius: 10px;
}

/* text */

h1 {
  color: #B63323;
  font-family: Flanker Bold !important;
  font-size: 41.886px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.618em;
}

h2, h3{
  color: #B63323 !important;
  font-family: Flanker Reg !important;
  text-transform: uppercase;
  text-align: center;
  font-size: 25.888px;
  line-height: 1.618em;
}

body {
  background: #f6f1e8;
  background-position: center;
  background-origin: margin-box;
  color: #1D1A13;
  font-family: Flanker Reg !important;
  font-size: 16px;
  text-align: justify;
  line-height: 1.618em;
}

/* homepage */

.kwCustom {
  font-family: Flanker Bold !important;
  color: black;
}

#currentDateTime, #kW {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none;
  text-shadow: none;
  color: #B63323 !important;
  text-transform: uppercase;
}

.nav-scroller {
  border-bottom: 1px solid black;
}

.customCol {
  background: #f6f1e8 !important;
  background-image: url(spacestyle1.png), url(space2style1.png) !important;
  background-size: contain  !important;
  background-size: 50vh, 50vh !important;
  background-repeat: no-repeat  !important;
  background-position: bottom, top  !important;
  background-origin: border-box, border-box  !important;
  padding-top: 20vh !important;
  padding-bottom: 20vh !important;
  border-bottom: 1px solid black;
}

.leftCol {
  border-right: 1px solid black;
  border-bottom: none !important;
}

.rightCol {
  border-left: 1px solid black;
  border-bottom: none !important;
}
.lastBox {
  border: none !important;
}

#keywordsList {
  border-bottom: none;
}

.arrow {
  content: url(arrow1.png);
  width: auto;
  height: 8vh;
}

/* documentatin pg */

#documentationMain {
background-image: url(framesxstyle1.png), url(framedxstyle1.png);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: left, right;
}

.list-group-item {
  border-bottom: 1px solid black;
}

#list-example {
  box-shadow: black;
}

/* cover */

#issueArticles {
  border-top: 1px solid black;
  padding-top: 5vh;
}

#coverstyle1 {
 background-image: url(framesxstyle1.png), url(framedxstyle1.png);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: left, right;
 background-origin: border-box;
}

.olCustom {
 border-radius: 20px !important;
 border:1px solid black;
 background-color: #f6f1e8 !important;
 padding: 5vh 5vw 5vh;
}

#issueMeta p {
  text-align: center;
}

#issueMeta {
 padding: 4vh 0 4vh 0;
}

#cover1 {
  height: 54vh;
  background-image: url(spacestyle1.png), url(space2style1.png);
  background-size: 50vh, 50vh !important;
  background-repeat: no-repeat;
  background-position: bottom, top;
  background-origin: content-box, content-box;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#issueArticles {
  text-align: center;
  height: auto;
}

.metaTitle {
  font-family: Flanker Bold !important;
  text-transform: uppercase;
}

#artN1, #artN2, #artN3 {
  font-family: Flanker Bold !important;
  color: black;
}

#btnIssue, #footer button, .customCol button, #centralMain button {
  border: 1px solid black !important;
  border-radius: 20px;
  text-align: center !important;
  color: black !important;
  font-family: Flanker Bold !important;
  background-color: #f6f1e8 !important;
  padding: 2vh 2vw;
}

#btnIssue a, .customCol a, #centralMain a {
  text-decoration: none;
  text-align: center !important;
  color: black;
}

#btnIssue a:hover, .customCol a:hover, #centralMain a:hover, #btnIssue a.active, .customCol a.active, #centralMain a.active {
  color: white !important;
  text-align: center !important;
} 

#btnIssue:hover, #footer button:hover, .customCol button:hover, #centralMain button:hover {
  color: white !important;
  font-family: Flanker Reg !important;
  border: 1px solid #B63323 !important;
  border-radius: 20px;
  background-color: #B63323 !important;
}

#openIssue {
  margin-top: 5vh;
}

/* articles */

#artRow {
  border-top: 1px solid black;
}

.sepLine {
  display: none;
}

.mention {
  color: #B63323 !important;
}

.big-first-letter::first-letter {
  font-family: GoudyIni !important;
  font-size: 67.77px;
  float: left;
  line-height: 1em;
  padding: 0.05em 0.1em 0 0;
}

@supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
  p:first-of-type::first-letter {
    -webkit-initial-letter: 4;
    initial-letter: 4;
    /* undo other bits */
    float: none;
    font-size: inherit;
    line-height: inherit;
    padding: 0 0.25em 0 0;
  }

  p:first-of-type::first-line {
    -webkit-initial-letter: 4;
    initial-letter: 4;
    /* undo other bits */
    float: none;
    font-size: inherit;
    line-height: inherit;
    padding: 0 0.25em 0 0;
  }
}

.big-first-line::first-line {
  font-family: GoudyIni !important;
  font-size: 67.77px;
  float: left;
  line-height: 1.618em;
  padding: 0.05em 0.1em 0 0;
}

.subtitle {
  color: black;
  font-family: Flanker BoldIt !important;
  font-size: 25.888px;
  line-height: 1.618em;
  text-align: center;
}


.imgSource {
font-family: Flanker Italic !important;
font-size: 12.8px;
text-transform: uppercase;
text-align: center;
margin-bottom: 2vh;
   text-align: center;
}

.imgCaption{
  font-family: Flanker Italic !important;
  font-size: 12.8px;
  padding: 1vw;
  text-align: center;
}
 
aside {
  border: 1px solid #B63323;
  border-radius: 20px;
  padding: 1vw;
  width: 50%;
  margin: 2vh 2vw 2vh 0;
 }
 
aside .imgCaption {
   border: none;
   margin: 0;
   text-align: center;
}

.imgFrame {
background-image: url(basestyle1.png);
background-position: center;
background-size: 50vh;
background-repeat: no-repeat;
background-origin: border-box;
height: 30vh;
margin-top: 0;
}

.byline {
  font-family: Flanker BoldIt !important;
  text-align: center;
}

.publicationDate {
  font-family: Flanker Italic !important;
  font-size: 12.8px;
  text-align: center;
}

a {
  color: #B63323;
}
a:hover {
  color: black;
}

.wmf-wp-with-preview {
  color: #B63323 !important;
  font-family: Flanker Reg !important;
  border-bottom: 1px dashed #B63323 !important;
}

li.artiCol {
 list-style: square !important;
}

.artiCol {
  text-align: left !important;
}

.articleImg {
filter: grayscale(90%);
-webkit-filter: grayscale(90%);
-moz-filter: grayscale(90%);
-o-filter: grayscale(90%);
-ms-filter: grayscale(90%);
margin-bottom: 0;
}

.author, .endTags {
  font-family: Flanker Italic !important;
}

.lastPar{
  height: 100vh !important;
}

#rl1_1,#rr1_1 {
  width: 45% !important;
  height: 10vh !important;
}

#rl1_2,#rr1_2 {
  width: 45% !important;
  height: 10vh !important;
}

#rl1_3, #rr1_3 {
  width: 45% !important;
  height: 10vh !important;
}

.endSx {
  -webkit-shape-outside: polygon(0 0, 100% 100%, 0 100%);
  shape-outside: polygon(0 0, 100% 100%, 0 100%);
  float: left;
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.endDx {
  -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
    shape-outside: polygon(100% 0, 100% 100%, 0 100%);
    float: right;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

hr {
  border:0;
  margin: 0.5vh;
  height: 6vh;
  background-image:url(spacestyle1.png);
  background-size: contain;
  background-color: transparent !important;
}

/* article page: metadata */

#metaData1, #metaData2, #metaData3 {
  background-image: url(metaFrame1.png);
  height: 58vh;
  width: 100%;
  background-size: 60vh, auto;
  background-repeat: no-repeat;
  background-position: top;
}

#frameData1, #frameData2, #frameData3 {
   margin: 20vh 2vw 0vh 2vw;
   overflow-y: scroll;
   overflow-x: hidden;
   height: 36vh !important;
   padding: 2vh 2vw 2vh 2vw;
}

#frameData1 ul, #frameData2 ul, #frameData3 ul {
  overflow-y: clip;
}

#metaData1::-webkit-scrollbar, #metaData2::-webkit-scrollbar, #metaData3::-webkit-scrollbar, #frameData1::-webkit-scrollbar, #frameData2::-webkit-scrollbar, #frameData3::-webkit-scrollbar {
  display: none;
}

/* nav-tabs */

.nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  border: 0;
  color: black;
  font-family: Flanker Bold !important;
  background-color: transparent !important;
}

.nav-tabs .nav-link:hover {
  border: 0;
  color: #B63323;
  font-family: Flanker Bold !important;
}

.nav-tabs .nav-link.active {
  color: white;
  font-family: Flanker Reg !important;
  border: 1px solid #B63323;
  border-radius: 20px;
  background-color: #B63323 !important;
}

#tabs1, #tabs2, #tabs3 {
  justify-content: space-evenly !important;
  border-bottom:  1px solid #B63323;
  padding-bottom: 1vh;
  text-transform: uppercase !important;
}


/* scrollbar */

#article1::-webkit-scrollbar-track, #article2::-webkit-scrollbar-track, #article3::-webkit-scrollbar-track  {
  background-image: url(scrollstyle1.png);
  background-size: contain;
}
#article1::-webkit-scrollbar, #article2::-webkit-scrollbar, #article3::-webkit-scrollbar {
  width: 4vw;
}
#article1::-webkit-scrollbar-thumb, #article2::-webkit-scrollbar-thumb, #article3::-webkit-scrollbar-thumb {
  background-color: #B63323;
  height: 1vh;
  border-radius: 100px;
}

.list-group-item {
  background-color: #f6f1e8;
}
