.wmf-wp-with-preview {
  /* background-color: #eaf3ff;
  padding: 2px 2px 2px 2px; */
  border-radius: 4px;
  /* border: solid 1px rgba(51, 102, 204, 0.48); */
  cursor: pointer;
  line-height: normal;
  color: #0645ad;
  border-bottom: 1px dashed rgba(51, 102, 204, 0.48);
}
.wmf-wp-with-preview::after {
  content: url("../img/wikipedia_logo_vs.png");
  display: inline-block;
  vertical-align: middle;
  margin-left: -15px;
  filter: opacity(35%) contrast(1%) blur(1px);
}
[dir='rtl'] .wmf-wp-with-preview::after {
  margin-left: auto;
  margin-right: 1px;
}
